<div>

  <table class="table">

        <thead>

              Lista de Moradores
              <tr>
                <td>
                  <div class='col-md-2'>
                  Nome
                 </div>
                </td>

                <td>
                  <div class='col-md-2'>
                    Cpf
                  </div>
                </td>

                <td>
                  <div class='col-md-2'>
                  Rg
                  </div>
                </td>
                <td>
                  <div class='col-md-2'>
                  Estado Civil
                  </div>
                </td>
                <td>
                  <div class='col-md-2'>
                  Profissao
                  </div>
                </td>
                <td>
                  <div class='col-md-2'>
                  Nome Conjuge
                  </div>
                </td>
                <td>
                  <div class='col-md-2'>
                  Cpf Conjuge
                  </div>
                </td>
                <td>
                  <div class='col-md-2'>
                  Profissao Conjuge
                  </div>
                </td>
                <td>
                  <div class='col-md-2'>
                  Estado Civil Conjuge
                  </div>
                </td>
              </tr>
        </thead>
      <tbody>


        <tr>
            <td>

              <%= @morador.nome%>
            </td>
            <td>
              <%= @morador.cpf%>
            </td>
            <td>
              <%= @morador.rg%>
            </td>
            <td>
              <%= @morador.est_civil%>
            </td>
            <td>
              <%= @morador.profissao%>
            </td>
            <td>
              <%= @morador.nome_conjuge%>
            </td>
            <td>
              <%= @morador.cpf_conjuge%>
            </td>
            <td>
              <%= @morador.profissao_conjuge%>
            </td>
            <td>
              <%= @morador.est_civil_conjuge%>
            </td>
        </tr>


      </tbody>


  </table>

</div>
